
.login_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6565ad;
    min-height: 100vh;
    justify-content: center;
    gap: 20px;
  }
  
  h1 {
    font-size: 24px;
    color: #ffffff;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  input {
    width: 300px;
    padding: 10px;
    margin: 5px;
    gap: 20px;
    padding-bottom: 10px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
  }
  
  button:hover {
    text-decoration: underline;
    
  }
  
  label {
    margin-top: 10px;
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
  }
  
  a {
    text-decoration: none;
    color: #007bff;
    margin-top: 5px;
    font-size: 14px;
  }
  
  a:hover {
    text-decoration: underline;
  }
  

  .form input{
    margin-bottom: 20px;
    border-radius: 10px;
  }